<section id="aa-product-category">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-8 col-md-push-3">
          <div class="aa-product-catg-content">
            <h2 style = "text-align: center">Best Sellers</h2>
            <div class="aa-product-catg-body">
              <ul class="aa-product-catg">

                <% @books.each do |book| %>
                  <% if book.sold > 10000 %> 
                    <!-- start single product item -->
                    <li>
                      <figure>
                        <a class="aa-product-img" href="/books/<%= book.id %>"><img src="/<%= book.image_src %>"width="250px" height="300px"></a>
                        <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Get it</a>
                        <figcaption>
                          <h4 class="aa-product-title"><a href="/books/<%= book.id %>"><%= book.name %></a></h4>
                          <span class="aa-product-price">Edition: <%= (book.edition)%>, </span><span class="aa-product-price">  Size: <%= book.size %> KB</span>
                        </figcaption>
                      </figure>
                      <span class="aa-badge aa-sale" href="#"><%= book.language %></span>
                    </li>
                  <% end %>
                <% end %>

              </ul>  
            </div>
          </div>

          <div class="aa-product-catg-content">
            <h2 style = "text-align: center">Latest</h2>
            <div class="aa-product-catg-body">
              <ul class="aa-product-catg">

                <% @books.each do |book| %>
                  <% if book.published_on[7..11] == Time.now.year.to_s %> 
                    <!-- start single product item -->
                    <li>
                      <figure>
                        <a class="aa-product-img" href="/books/<%= book.id %>"><img src="/<%= book.image_src %>"width="250px" height="300px"></a>
                        <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Get it</a>
                        <figcaption>
                          <h4 class="aa-product-title"><a href="/books/<%= book.id %>"><%= book.name %></a></h4>
                          <span class="aa-product-price">Edition: <%= (book.edition)%>, </span><span class="aa-product-price">  Size: <%= book.size %> KB</span>
                        </figcaption>
                      </figure>
                      <!-- product badge -->
                      <span class="aa-badge aa-sale" href="#"><%= book.language %></span>
                    </li>
                  <% end %>
                <% end %>

              </ul>  
            </div>
          </div>

          <div class="aa-product-catg-content">
            <h2 style = "text-align: center">Offers</h2>
            <div class="aa-product-catg-body">
              <ul class="aa-product-catg">

                <% @books.each do |book| %>
                  <% if book.discount > 20 %> 
                    <!-- start single product item -->
                    <li>
                      <figure>
                        <a class="aa-product-img" href="/books/<%= book.id %>"><img src="/<%= book.image_src %>"width="250px" height="300px"></a>
                        <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Get it</a>
                        <figcaption>
                          <h4 class="aa-product-title"><a href="/books/<%= book.id %>"><%= book.name %></a></h4>
                          <span class="aa-product-price">Edition: <%= (book.edition)%>, </span><span class="aa-product-price">  Size: <%= book.size %> KB</span>
                        </figcaption>
                      </figure>
                      <!-- product badge -->
                      <span class="aa-badge aa-sale" href="#"><%= book.language %></span>
                    </li>
                  <% end %>
                <% end %>

              </ul>  
            </div>
          </div>

          <div class="aa-product-catg-content">
            <h2 style = "text-align: center">Coming soon</h2>
            <div class="aa-product-catg-body">
              <ul class="aa-product-catg">

                <% @books.each do |book| %>
                  <% if book.published_on[7..11] > Time.now.year.to_s %> 
                    <!-- start single product item -->
                    <li>
                      <figure>
                        <a class="aa-product-img" href="/books/<%= book.id %>"><img src="/<%= book.image_src %>"width="250px" height="300px"></a>
                        <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Get it</a>
                        <figcaption>
                          <h4 class="aa-product-title"><a href="/books/<%= book.id %>"><%= book.name %></a></h4>
                          <span class="aa-product-price">Edition: <%= (book.edition)%>, </span><span class="aa-product-price">  Size: <%= book.size %> KB</span>
                        </figcaption>
                      </figure>
                      <!-- product badge -->
                      <span class="aa-badge aa-sale" href="#"><%= book.language %></span>
                    </li>
                  <% end %>
                <% end %>

              </ul>  
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-md-pull-9">
          <aside class="aa-sidebar">
            <!-- single sidebar -->
            <div class="aa-sidebar-widget">
              <h3>Category</h3>
              <ul class="aa-catg-nav">
                <% Category.all.each do |category| %>
                  <li>
                    <a href = "/category/<%= category.id %>">
                      <%= category.name %>
                    </a>
                  </li>
                <% end %>
              </ul>
            </div>
          </aside>
        </div>
       
      </div>
    </div>
  </section>

<!-- 
  <div class="sidebar">

  <h4> Categories </h4>
   

  </div>

  <div class="page-wrapper">  
  <div class = "book-right">
  <h3 class = "center">-------------Best Sellers--------------- </h3>
  <ul class = "list-books">
  <% @books.each do |book| %>
    <% if book.sold > 10000 %>      
        <li>
          <img src="/<%= book.image_src %>" height = "250" width = "190"  />
          <a href="/books/<%= book.id %>">
            <h2> <%= book.name %>  </h2>
          </a>
          <p class = "gray"> (<%= book.language %>)  </p>
          <strike> <p class = "gr"> Rs. <%= book.price %>  </p> </strike>
          <p class = "gray"> <%= book.discount %> % off <p>
          <h3> Offer: <%= (book.price - (book.price * book.discount / 100)) %> </h3>
          <p class = "gray"> <%= book.category.name %>  </p>
        </li>      
    <% end %>
  <% end %>
  </ul>
</div>

  <div class = "book-right">
    <h3 class = "center">-------------Latest--------------- </h3>
    <ul class = "list-books">
      <% @books.each do |book| %>
        <% if book.published_on[7..11] == Time.now.year.to_s %>
           <li>
            <img src="/<%= book.image_src %>" height = "250" width = "190"  />
            <a href="/books/<%= book.id %>">
              <h2> <%= book.name %>  </h2>
            </a>
            <p class = "gray"> (<%= book.language %>)  </p>
            <strike> <p class = "gr"> Rs. <%= book.price %>  </p> </strike>
            <p class = "gray"> <%= book.discount %> % off <p>
            <h3> Offer: <%= (book.price - (book.price * book.discount / 100)) %> </h3>
            <p class = "gray"> <%= book.category.name %>  </p>
          </li>
          <% end %>
      <% end %>
    </ul>
  </div>

  <div class = "book-right">
    <h3 class = "center">-------------Offers--------------- </h3>
    <ul class = "list-books">
      <% @books.each do |book| %>
        <% if book.discount > 20 %>
          <li>
            <img src="/<%= book.image_src %>" height = "250" width = "190"  />
            <a href="/books/<%= book.id %>">
              <h2> <%= book.name %>  </h2>
            </a>
            <p class = "gray"> (<%= book.language %>)  </p>
            <strike> <p class = "gr"> Rs. <%= book.price %>  </p> </strike>
            <p class = "gray"> <%= book.discount %> % off <p>
            <h3> Offer: <%= (book.price - (book.price * book.discount / 100)) %> </h3>
            <p class = "gray"> <%= book.category.name %>  </p>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class = "book-right">
    <h3 class = "center">-------------Coming soon--------------- </h3>
    <ul class = "list-books">
      <% @books.each do |book| %>
        <% if book.published_on[7..11] > Time.now.year.to_s %>
          <li>
            <img src="/<%= book.image_src %>" height = "250" width = "190"  />
            <a href="/books/<%= book.id %>">
              <h2> <%= book.name %>  </h2>
            </a>
            <p class = "gray"> (<%= book.language %>)  </p>
            <strike> <p class = "gr"> Rs. <%= book.price %>  </p> </strike>
            <p class = "gray"> <%= book.discount %> % off <p>
            <h3> Offer: <%= (book.price - (book.price * book.discount / 100)) %> </h3>
            <p class = "gray"> <%= book.category.name %>  </p>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
 -->