<section id="aa-product-category">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-8 col-md-push-3">
          <h1 class = "center"> Search Results </h1>
          <div class="aa-product-catg-content">
            <div class="aa-product-catg-body">
              <ul class="aa-product-catg">

                <% @books.each do |book| %>
                    <!-- start single product item -->
                    <li>
                      <figure>
                        <a class="aa-product-img" href="/books/<%= book.id %>"><img src="/<%= book.image_src %>" width="250px" height="300px"></a>
                        <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Get it</a>
                        <figcaption>
                          <h4 class="aa-product-title"><a href="/books/<%= book.id %>"><%= book.name %></a></h4>
                          <span class="aa-product-price">Edition: <%= (book.edition) %>, </span><span class="aa-product-price">Size: <%= book.size %> KB</span>
                        </figcaption>
                      </figure>
                      <!-- product badge -->
                      <span class="aa-badge aa-sale" href="#"><%= book.language %></span>
                    </li>
                <% end %>                                    
              </ul>  
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-md-pull-9">
          <aside class="aa-sidebar">
            <!-- single sidebar -->
            <div class="aa-sidebar-widget">
              <h3>Category</h3>
              <ul class="aa-catg-nav">
                <% Category.all.each do |category| %>
                  <li>
                    <a href = "/category/<%= category.id %>">
                      <%= category.name %>
                    </a>
                  </li>
                <% end %>
              </ul>
            </div>
          </aside>
        </div>
       
      </div>
    </div>
  </section>