  <!-- product category -->
  <section id="aa-product-details">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-product-details-area">
            <div class="aa-product-details-content">
              <div class="row">
                <!-- Modal view slider -->
                <div class="col-md-5 col-sm-5 col-xs-12">                              
                  <div class="aa-product-view-slider">                                
                    <div id="demo-1" class="simpleLens-gallery-container">
                      <div class="simpleLens-container">
                        <div class="simpleLens-big-image-container">
                          <a data-lens-image="/<%= @book.image_src %>" class="simpleLens-lens-image">
                            <img src="/<%= @book.image_src %>" class="simpleLens-big-image">
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-7 col-sm-7 col-xs-12">
                  <div class="aa-product-view-content">
                    <h3><%= @book.name %></h3>
                    <div class="aa-price-block">
                      <span class="aa-product-view-price">Edition: <%= @book.edition %></span>
                      <p class="aa-product-avilability">Language: <span><%= @book.language %></span></p>
                    </div>
                    <p><%= @book.description %></p>
                    <h4>Author </h4>
                    <div class="">
                       <%= "#{@book.authors.first.first_name + " " + @book.authors.first.last_name}" %>
                    </div>
                    <h4>Pages </h4>
                    <div class="">
                      <%= @book.pages %>
                    </div>

                    <p> Available: <%= @book.available %> </p>
                    <p> Category: <%= @book.category.name %> </p>
                    <div class="aa-prod-view-bottom">
                      <a class="aa-add-to-cart-btn" href="/<%= @book.url %>" download>Download</a>
                      <a class="aa-add-to-cart-btn" href="/<%= @book.url %>" target="blank">Read Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              