<!DOCTYPE html>
<html>
<head>
  <title>BookShelf</title>
  <%= csrf_meta_tags %>
  <link href="/css/font-awesome.css" rel="stylesheet">
  <!-- Bootstrap -->
  <link href="/css/bootstrap.css" rel="stylesheet">   
  <!-- SmartMenus jQuery Bootstrap Addon CSS -->
  <link href="/css/jquery.smartmenus.bootstrap.css" rel="stylesheet">
  <!-- Product view slider -->
  <link rel="stylesheet" type="text/css" href="/css/jquery.simpleLens.css">    
  <!-- slick slider -->
  <link rel="stylesheet" type="text/css" href="/css/slick.css">
  <!-- price picker slider -->
  <link rel="stylesheet" type="text/css" href="/css/nouislider.css">
  <!-- Theme color -->
  <link id="switcher" href="/css/theme-color/default-theme.css" rel="stylesheet">
  <!-- <link id="switcher" href="/css/theme-color/bridge-theme.css" rel="stylesheet"> -->
  <!-- Top Slider CSS -->
  <link href="/css/sequence-theme.modern-slide-in.css" rel="stylesheet" media="all">

  <!-- Main style sheet -->
  <link href="/css/style.css" rel="stylesheet">    

  <!-- Google Font -->
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <!-- wpf loader Two -->
  <!-- <div id="wpf-loader-two">          
    <div class="wpf-loader-two-inner">
      <span>Loading</span>
    </div>
  </div>  -->
  <!-- / wpf loader Two -->       
  <!-- SCROLL TOP BUTTON -->
  <a class="scrollToTop" href="#"><i class="fa fa-chevron-up"></i></a>
  <!-- END SCROLL TOP BUTTON -->


  <!-- Start header section -->
  <header id="aa-header">
    <!-- start header bottom  -->
    <div class="aa-header-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="aa-header-bottom-area">
              <!-- logo  -->
              <div class="aa-logo">
                <!-- Text based logo -->
                <a href="/">
                  <p>Book<strong>Shelf</strong> <span>books for you</span></p>
                </a>
                <!-- img based logo -->
                <!-- <a href="index.html"><img src="img/logo.jpg" alt="logo img"></a> -->
              </div>
              <!-- / logo  -->
              <!-- cart box -->
              <!-- / cart box -->
              <!-- search box -->
              <div class="aa-search-box">
                <form action="/search" method="GET">
                  <input type="text" name="query" id="" placeholder="Search here ex. 'book' ">
                  <button type="submit"><span class="fa fa-search"></span></button>
                </form>
              </div>
              <!-- / search box -->             
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- / header bottom  -->
  </header>

  <%= yield %>

</body>

<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>



</html>